.header {
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #383e5a;
  padding-left: clamp(10px, 8vw, 135px);
  padding-right: clamp(5px, 8vw, 108px);
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchInput {
  width: 500px;
  height: 48px;
  background: #202233;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 6px 10px;
  color: #f1f3f7;
  font-size: 18px;
  outline: none;
  &:focus {
    border: 1px solid #595bd4;
  }
  &::placeholder {
    color: #6b7280;
    font-size: 18px;
    font-weight: 400;
  }
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #1e255a 0%, #2b338a 100%);
  color: #f1f3f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
}
