@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'IBM Plex Mono', sans-serif;
}

.title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #f1f3f7;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #c8ccd5;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
