button {
  border: 1px;
  transition: all 500ms ease-out;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.contained {
  height: 56px;
  padding: 16px 32px 16px 32px;
  border-radius: var(--Btnradius);
  background-color: var(--bgbrand);
  border-color: var(--bgbrand);
  color: var(--text-invert);
  opacity: 0px;
  cursor: pointer;

  &:hover {
    background-color: var(--bgbrand-hover);
    border-color: var(--bgbrand-hover);
  }

  &:active {
    border-color: var(--bgbrand-hover);
    border: 2px solid;
  }

  &:disabled {
    background-color: var(--bgdisabled);
    border-color: var(--bgdisabled);
    color: var(--bgbrand);
    cursor: auto;
  }
}

.outlined {
  background-color: transparent;
  color: #1976d2;
  border: 1px solid #1976d2;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
