.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  height: 48px;
  padding: 12px 8px 12px 8px;
  border-radius: var(--inputRadius);
  border: 1px solid var(--borderlight);
  background-color: var(--bgprimary);
}
