.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
